/* 
    Document   : style
    Created on : 21 sept. 2012, 09:09:24
    Author     : FOUQUET Julien <julien.fouquet.85@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

body {
 background-color:lightblue;
}

h1{
    text-decoration: underline;
    color:#F8F8F8 ;
}

h2{
    color:#F8F8F8 ;
}

h3{
    color:#F8F8F8 ;
}

br{
    color:#F8F8F8 ;
}

a{
    color:#F8F8F8;
    text-decoration: none;
}

